div.site-thumbnail{
  min-height: 208px;
  width: 370px;
  position: relative;
}

div.app-row {
  margin-bottom: 50px; 
}

.badge-hosted {
  background-color: #0069aa;
}

.badge-developed {
  background-color: #e51937;
}